.loder_id
{
width:100%;
height:200%;
position:absolute;
z-index:1000000;
background:#fff;
text-align: center;
 opacity:0.7;
      filter:alpha(opacity=70); /* For IE8 and earlier */
display:none;
}
.comment_content
{
width:100%;
height:200%;
position:absolute;
z-index:1000000;
background:#fff;
text-align: center;
 opacity:0.7;
/*filter:alpha(opacity=70); /* For IE8 and earlier */
display:none;
}

.vendorpopup
{
position:fixed; top:0; left:0; 

z-index:1000000;
background-color:#fff;
width: 100%;
height: 100%;
background:rgba(0,0,0,0.6);
}
.vendorpopup_sub
{
background-color: #000;

height:480px; 
width:440px;
margin:0 auto;
position:relative;
  border:2px solid #cccccc; 
 border-radius:2px;   
}







/*****************************************************/
 #cover{ position:fixed; top:0; 
 left:0; background:rgba(0,0,0,0.6); z-index:100000000;
width:100%;
display:none; 
} 
#loginScreen {
    height:380px; 
    width:340px;
    margin:0 auto;
    position:relative;
 z-index:10000000000000; 
 display:none;
 background-color:#fff; 
 border:2px solid #cccccc; 
 border-radius:50px; 
}


.loader_main {
    position:absolute;
    left: 48%;
    top: 50%;
  
 }
.comment_content_all {
    position:absolute;
    left: 48%;
    top: 70%;
  
 }

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #999; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.dt_col_hide{display: none;}

.formmain
{
padding:15px 50px 0px 10px;
min-height:48px; 
margin-top:10px;
background-color: #3a485c;
color: #fff;

cursor:pointer;
font-weight: bold;
}
.row1{
   border-top:none;
   border:1px #ddd solid;
    padding: 10px;
}
.plusminusbutton
{
 font-size:24px;
 float:left;
 font-weight:bold;
    
}
.table-row{
    
    height:40px;
    margin-bottom: 10px;
    padding-bottom:20px;
}
.table-row-nopadding{
    
   
    margin-bottom: 0px;
    padding-bottom:0px;
}

.table-row-heading
{
 
 background-color:#204d74;
 color:#fff; font-weight: bold;
 padding:0px 0px 0px 10px; 
 font-family: 'Open Sans', sans-serif;
 
}
.table-row-heading.product-name
{
 
 background-color:#204d74;
 color:#fff; font-weight: bold;
 padding:0px 0px 0px 10px; 
 width:20%;
}

.nav-nav-pills
{
 background-color:#428bca;
 padding:10px 10px 0px 10px;
 color:#fff; border-top-left-radius:5px;
 border-top-right-radius:5px;   
 height:49px;
 color:#fff;
}

.nav-nav-pills li
{   
float:left; 
color:#fff;
}
.nav-nav-pills li.active
{   
float:left;
padding:10px 10px 10px 10px;
background-color:#fff;
border:0px #ccc solid;
margin-right:10px  
}
.nav-nav-pills li.active a
{   
color:#555; 
}
.nav-nav-pills li a
{   
    color:#fff;
}
.nav-nav-pills li.tabber
{   
    
float:left;
padding:10px 10px 0px 10px;
border:0px #ccc solid; margin-right:10px;
color:#fff;
}
.table_con
{
text-align:left; 
font-weight:normal;color:#555;font-family: 'Open Sans', sans-serif; 
font-size:14px;

}
.table_con_bold
{
text-align:left; font-weight:normal;color:#555;font-family: 'Open Sans', sans-serif; font-size:14px;
font-weight: bold;
}
.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; } 


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.alert-new-success {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8; 
  border-color: #d6e9c6;
 }
 
    
                                       .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #e9ecef;
}



.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 0px 10px;
  padding: 5px;
  background-color: #e9ecef;
  border-radius: 5px;
  border: 5px solid #e9ecef;
}

.body .message {
  min-height: 30px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #e7e7e7;
}   