.loder_id
{
width:100%;
height:100%;
position:absolute;
z-index:1000000;
background:#fff;
text-align: center;
 opacity:0.7;
      filter:alpha(opacity=70); /* For IE8 and earlier */
display:none;
}
.loader_main {
     position:absolute;
    left: 48%;
    top: 50%;
  
 }

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #999; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.dt_col_hide{display: none;}

.formmain
{
padding:10px 50px 0px 10px;
min-height:40px; 
margin-top:10px;
background-color: #3a485c;
color: #fff;

cursor:pointer;
font-weight: bold;
}
.row1{
   border-top:none;
   border:1px #ddd solid;
    padding: 10px;
}
.plusminusbutton
{
 font-size:16px;
 float:left;
 font-weight:bold;
    
}
.table-row{
    
    height:40px;
    margin-bottom: 10px;
    padding-bottom:20px;
}
.table-row-nopadding{
    
   
    margin-bottom: 0px;
    padding-bottom:0px;
}

.table-row-heading
{
 
 background-color:#204d74;
 color:#fff; font-weight: bold;
 padding:0px 0px 0px 10px; 
}
.table-row-heading.product-name
{
 
 background-color:#204d74;
 color:#fff; font-weight: bold;
 padding:0px 0px 0px 10px; 
 width:20%;
}

.nav-nav-pills
{
 background-color:#428bca;
 padding:10px 10px 0px 10px;
 color:#fff; border-top-left-radius:5px;
 border-top-right-radius:5px;   
 height:49px;
 color:#fff;
}

.nav-nav-pills li
{   
float:left; 
color:#fff;
}
.nav-nav-pills li.active
{   
float:left;
padding:10px 10px 10px 10px;
background-color:#fff;
border:0px #ccc solid;
margin-right:10px  
}
.nav-nav-pills li.active a
{   
color:#555; 
}
.nav-nav-pills li a
{   
    color:#fff;
}
.nav-nav-pills li.tabber
{   
    
float:left;
padding:10px 10px 0px 10px;
border:0px #ccc solid; margin-right:10px;
color:#fff;
}
.table_con
{
text-align:left; 
font-weight:normal;color:#555;font-family: 'Open Sans', sans-serif; 
font-size:14px;

}
.table_con_bold
{
text-align:left; font-weight:normal;color:#555;font-family: 'Open Sans', sans-serif; font-size:14px;
font-weight: bold;
}